<form (ngSubmit)="postReview()" *ngIf="authService.currentUserValue" [formGroup]="form">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-6">
      <label class="text-left" for="review">How was it?</label>
    </div>
    <div class="col-3">
      <label class="" for="rate">Rating:</label>
    </div>
    <div class="col-2">
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <textarea class="form-control input-group-sm" formControlName="review" id="review"></textarea>
    </div>
    <div class="col-2 justify-content-center">
      <input (change)="changeRating()" [ngModel]="userRating" class="col-3 form-control input-group-sm"
             formControlName="rate" id="rate" max="5" min="0" required style="min-width: 56px;"
             type="number">
    </div>
    <div class="col-4">
      <button [disabled]="!_form.valid" class="text-lg-center ml-5 btn btn-sm btn-dark">Post review</button>
    </div>
  </div>

</form>
