<form [formGroup]="_form" (ngSubmit)="postReview()">
  <div class="row">

    <label class="col-4 text-left" for="review">Review : </label>
    <label class="col-3" for="rate">Rating (X/5): </label>
  </div>
  <div class="row">


    <textarea class="col-4 ml-2" id="review" formControlName="review">
    </textarea>
    <input class="col-1 ml-4" id="rate" type="number" min="0" max="5" formControlName="rate">
    <button class="text-lg-center ml-5 btn-dark" [disabled]="!_form.valid">Post review</button>
  </div>

</form>
