<!-- Modal -->
<div class="modal fade " id="accountModal" tabindex="-1" role="dialog" aria-labelledby="accountModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="container-fluid align-y-center">
        <div class="row ">
          <div class="col ">
            <div class="modal-content border-0">
              <div class="modal-header main-color shadow-sm">
                <h5 class="modal-title font-weight-bold" id="accountModalLabel">Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <fa name="close" size="1x"></fa>
                </button>
              </div>
              <div class="modal-body">
                <app-login-form></app-login-form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


