#user-icon:hover {
  transition-duration: var(--time-slow);
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: var(--main-black)!important;
}

#logo{
  border: 0!important;
  outline: 0!important;
}

#logo:hover{
  filter:brightness(93%);
}
