<div class="container-fluid col-lg-12 imgHome p-2 pt-4">
  <div class="p-2 container-fluid border col-lg-7 col-sm-12 text-center"
       style="background: rgba(255,255,255,0.60);backdrop-filter: blur(3px);">
    <div class="row">

    </div>
    <div class="row px-3 pt-3">
      <div class="col text-left pl-3">
        <h4>Type of dish:</h4>
      </div>
    </div>
    <div class="row px-3 mb-3">
      <div class="col text-left">
        <ng-container *ngFor="let filter of filters">
          <input (change)="updateFilteredRecipes()" [(ngModel)]="filterSelected" [id]="filter.id"
                 [value]="filter.value" type="radio">
          <label [for]="filter.id" class="m-2">{{filter.id}}</label>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3 class="mb-2"><b>Results for "{{searchText}}"</b></h3>
        <ng-container *ngIf="filteredRecipes && filteredRecipes.length; else noFilteredRecipe">
          <ng-container *ngFor="let recipe of filteredRecipes">
            <div class="text-left py-3 px-2 border-top recipe-search-result transition-250ms">
              <app-recipe-result (recipeDeleted)="deleteRecipeInDB($event)" [recipe]="recipe"></app-recipe-result>
            </div>
          </ng-container>
        </ng-container>
        <ng-template #noFilteredRecipe>
          <ng-container *ngIf="searchFailed; else searching">
            <h4 class="mt-5 mb-4">No recipe were found. Try something else, maybe <a routerLink="/recipe-search/any">'any'</a>?</h4>
          </ng-container>
          <ng-template #searching>
            <h4 class="mt-5 mb-4">Results loading, please wait.</h4>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
</div>

