<div class="container-fluid col-lg-12 back-img p-2 pt-3">


  <div class="container-fluid col-lg-3">

  </div>
  <div class="container-fluid border col-lg-7 col-sm-12 text-center"
       style="background: rgba(255,255,255,0.80);backdrop-filter: blur(3px);">
    <h3 class="text-center font-weight-bold p-3">Create recipe</h3>
    <form (ngSubmit)=postRecipe() [formGroup]="_form">
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="nameRecipe">Name of the dish</label>
          <input class="form-control" formControlName="nameRecipe" id="nameRecipe" minlength="5" type="text">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="Summary">Summary</label>
          <input class="form-control" formControlName="summary" id="Summary" type="text">
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="recipeType">Type of dish</label>
          <div class="input-group">
            <select class="custom-select" formControlName="recipeType" id="recipeType" required>
              <option *ngFor="let filter of filters; index as i" [selected]="i === 0"
                      [value]="filter.value">{{filter.value}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="prepTime">Preparation time</label>
          <input class="form-control" formControlName="prepTime" id="prepTime" required type="number">
        </div>
        <div class="col-md-3 mb-3">
          <label for="persons">Servings</label>
          <input class="form-control" formControlName="persons" id="persons" required type="number">
        </div>
        <div class="col-md-3 mb-3">
          <label for="spicesRate">Spices rate</label>
          <input class="custom-select" formControlName="spicesRate" id="spicesRate" max="5" min="0" required
                 type="number"/>
        </div>
      </div>

      <!-- Ingredients -->
      <form (ngSubmit)="addIngredient()" [formGroup]="_ingredientForm" class="form-row">
        <div class="col-md-5 mb-3">
          <label for="ingredients">Ingredients</label>
          <select class="custom-select" formControlName="nameIngredient" id="ingredients" required>
            <option *ngFor="let ingredient of ingredients; index as i" [selected]="i === 0">
              {{ingredient.nameIngredient}}
            </option>
          </select>

        </div>
        <div class="col-md-3 mb-3">
          <label for="ingredientQuantity">Quantity</label>
          <input class="form-control" formControlName="quantity" id="ingredientQuantity" required type="number">
        </div>
        <div class="col-md-4 mb-3">
          <label for="mesureIngredient">Scale</label>
          <select class="custom-select" formControlName="unit" id="mesureIngredient">
            <option *ngFor="let unit of units">{{unit.value}}</option>
          </select>
        </div>

        <button [disabled]="!_ingredientForm.valid" class="btn btn-sm btn-dark mr-2" style="height:30px">Add
          ingredient
        </button>

      </form>


      <p *ngFor="let ingredient of recipeIngredientsUsed; let i = index" class="offset-3 text-left">
        <button (click)="removeIngredient(i)" class="btn btn-dark btn-sm mt-2"><i class="fa fa-trash"></i></button>
        <span class="ml-2">
          {{ingredient.nameIngredient}} - {{ingredient.quantity}} {{ingredient.unit}}
        </span>
      </p>


      <form (ngSubmit)="addStep()" [formGroup]="_stepForm" class="form-row">
        <div class="col-md-12 mb-3">
          <label for="steps">Step(s)</label>
          <textarea class="form-control" formControlName="step" id="steps"></textarea>
        </div>
        <div class="">
          <button [disabled]="!_stepForm.valid" class="btn btn-sm btn-dark" style="height:30px">Add step</button>
        </div>
      </form>


      <p *ngFor="let step of recipeSteps; let i = index" class="offset-3 text-left">
        <button (click)="removeStep(i)" class="btn btn-dark btn-sm mt-2"><i class="fa fa-trash"></i></button>
        <span class="ml-2">
          <b>  {{step.stepNb}}.</b> {{step.step}}
        </span>

      </p>

      <button [disabled]="!_form.valid" class="btn btn-md btn-dark mr-2 col-12 mt-2 mb-2">
        <h6 class="d-inline font-weight-bold ">Submit recipe</h6>
      </button>
    </form>
    <!--    <app-picture-form></app-picture-form>-->

  </div>
  <div class="container-fluid col-lg-3"></div>
</div>
