<div class="container-fluid col-lg-12 home-img p-3">
  <h1 class="text-white">Recipe of the month</h1>

  <ng-container *ngIf="frontRecipeObs | async as recipe">
    <div [routerLink]="'/recipe-details/'+recipe.idRecipe" class="card mb-3 bg-white">
      <div class="row no-gutters">
        <div class="col-sm-4">
          <img alt="A tart" class="card-img" src="../../../../assets/picture/tarteCitron.jpg">
        </div>
        <div class="col-sm-8">
          <div class="card-body">
            <h5 class="card-title"><b>{{recipe.nameRecipe}} by <i>{{recipe.pseudo}}</i></b></h5>
            <p class="card-text">{{recipe.summary}}</p>
            <p class="card-text"><small class="text-muted">Shared on {{recipe.postDate | date }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!---->
