<div class="container-fluid col-lg-12 detail-recipe-img pt-2 pb-2">
  <div class="container-fluid col-lg-3 "></div>
  <div class="container-fluid border col-lg-6 col-sm-12 text-center shadow bg-detail border border-dark ">
    <p class="text-right pt-2" style="font-size: medium">Posted on {{recipe.postDate | date}} by
      <b>{{recipe.pseudo}}</b>
    </p>

    <h3 class="text-center font-weight-bold pt-3 mb-1">{{recipe.nameRecipe}}</h3>
    <h4 class="pt-2">{{recipe.recipeType}}, {{recipe.persons}} servings ({{recipe.prepTime}} min)</h4>
    <span class="mb-2">
      <ng-container *ngFor="let s of spices">
        <img height="20" src="../../../../assets/img/chili.png" width="20">
      </ng-container>
    </span><br/>

    <p class="mt-3">
      {{recipe.summary}}
    </p>

    <img class="rounded-md border border-dark mb-3" height="300" src="../../../../assets/picture/tarteCitron.jpg"
         width="300">

    <div class="mb-3">
      <h5 class="font-weight-bold pt-2">Ingredients:</h5>

      <p *ngFor="let ingredient of ingredients" class="mb-0">
        {{ingredient.nameIngredient}} {{ingredient.quantity}} {{ingredient.unit}}
      </p>
    </div>

    <div class="mb-3">
      <h5 class="font-weight-bold mt-1">Steps:</h5>
      <ul>
        <p *ngFor="let step of steps">
          {{step.step}}
        </p>
      </ul>
    </div>

    <div class="mb-3">
      <h5 class="pl-3 mb-3 text-left font-weight-bold">Reviews:</h5>
      <app-review-form (reviewPosted)="postReview($event)"
                       *ngIf="authService.currentUserValue; else guestUser;"></app-review-form>

      <div class="container mt-3 pt-2">
        <div *ngFor="let review of reviews" class="row pt-2 mb-3 border-top border-grey ">
          <div class="col-3 border-right border-grey">
            <h6 class="text-left font-weight-bold">({{review.rate}}/5) - {{review.pseudo}}</h6>
          </div>
          <div class="col-6">
            <p class="d-inline">{{review.reviewMessage}}</p>
          </div>
          <div class="col-3">
            <button
              (click)="deleteReviewInDB(review)"
              *ngIf="authService.currentUserValue && (authService.currentUserValue.userType || authService.currentUserValue.idUser === review.idUser)" class="btn btn-sm btn-dark">
              Delete review
            </button>
          </div>
        </div>
      </div>

      <ng-template #guestUser>
        <span class="mb-3">
          <b>You must login to post a review.</b>
        </span>
      </ng-template>
    </div>
  </div>
</div>
