.detail-recipe-img{
  background-image: url("../../../../assets/img/sushi.jpg");
  background-size: cover;
  min-height: 704px;
}

.bgDetail{
  background: rgba(255,255,255,0.80);
  backdrop-filter: blur(3px);

}
