<div class="container-fluid col-lg-11 my-3 shadow-lg user-bg p-2 pt-3">
  <div class="container-fluid border border-md border-grey col-lg-7 col-sm-12 pt-3"
       style="min-height: 550px;background: rgba(255,255,255,0.80);backdrop-filter: blur(3px);">
    <h2 class="ml-2 mb-2 text-center text-dark"><b>Your details</b></h2>

    <div class="row">
      <div class="col">
        <h5 class="d-inline" appSlideOnHover marginInPX="6" durationInMS="200"><b>Name:</b></h5>
        <span class="ml-2 text-md">{{user.lastName}} "{{user.pseudo}}" {{user.firstName}}</span>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4 my-auto">
        <h5 class="d-inline" appSlideOnHover marginInPX="6" durationInMS="200"><b>Email:</b></h5>
        <span class="ml-2 text-md">{{user.mail}}</span>
      </div>
      <div class="col-3 offset-5 text-right">
        <button (click)="changingMail = !changingMail" class="btn btn-sm text-white bg-orange">Update email</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form (ngSubmit)="updateMail()" *ngIf="changingMail" [formGroup]="mailForm">
          <div class="row mt-2 mb-3">
            <div class="col-2">
              <label for="mail">
                <b>New email:</b>
              </label>
            </div>
            <div class="col-6">
              <input class="form-control form-control-sm mb-2" formControlName="newMail" id="mail" type="text">
            </div>
            <div class="col-4">
              <button class="btn btn-sm btn-success text-center">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-4 my-auto">
        <h5 class="d-inline mt-2" appSlideOnHover marginInPX="6" durationInMS="200"><b>Password:</b></h5>
        <span class="ml-2 text-md">**********</span>
      </div>
      <div class="col-3 offset-5 text-right">
        <button (click)="changingPassword = !changingPassword; passwordSuccess=false; passwordError=false;"
                class="btn btn-sm text-white bg-orange">
          Update password
        </button>
      </div>
      <p *ngIf="passwordSuccess">Password successfully set</p>
      <form (ngSubmit)="updatePassword()" *ngIf="changingPassword" [formGroup]="pwdForm">
        <div class="row mx-auto mt-2 mb-3">
          <div class="col-5">
            <label for="old">Old password : </label>
            <input class="form-control form-control-sm" formControlName="oldPassword" id="old" type="password">
          </div>
          <div class="col-5">
            <label for="new">New password : </label>
            <input class="form-control form-control-sm" formControlName="newPassword" id="new" type="password">
          </div>
          <div class="col-2 my-auto">
            <p *ngIf="passwordError">An error occurred, please check your old password</p>
            <button class="btn btn-sm btn-dark btn-success">Update</button>
          </div>
        </div>
      </form>
    </div>

    <h2 class="ml-2 mb-2 mt-5 text-center text-dark"><b>Your recipes</b></h2>
    <h5 *ngIf="!recipes || !recipes.length" class="mt-2">You have not shared a recipe yet.</h5>
    <ul>
      <ng-container *ngFor="let recipe of recipes">
        <li class="mb-2 py-1 border-grey border-bottom w-75 transition-regular" appSlideOnHover>
          <a [routerLink]="'/recipe-details/'+recipe.idRecipe">
            <h5>
              <b>{{recipe.nameRecipe}}
                - <app-recipe-avg-rate [idRecipe]="recipe.idRecipe"></app-recipe-avg-rate> / 5
              </b>
            </h5>
          </a>
        </li>
      </ng-container>
    </ul>

    <h2 class="ml-2 mb-2 mt-5 text-center text-dark"><b>Comments you've posted</b></h2>
    <h5 *ngIf="!reviews || !reviews.length" class="mt-2">You have not commented yet.</h5>
    <ul class="mx-2">
      <ng-container *ngFor="let review of reviews">
        <li class="mb-2 py-1 border-grey border-bottom w-75" appSlideOnHover>
          <a [routerLink]="'/recipe-details/'+review.idRecipe">
            <h5><b>{{review.nameRecipe}} - {{review.rate}} / 5</b></h5>
            <p class="ml-2 text-sm">"{{review.reviewMessage}}"</p>
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

