.user-bg {
  background-image: url("../../../../assets/img/user-bg.jpg");
  background-size: cover;
  min-height: 698px;
}

a {
  color: var(--main-black);
}

a:hover{
  text-decoration: none;
}

h2 {
  margin: 5px;
}

li{
  list-style: none;
}
