/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --main-black: #262626;
  --light-black: #393939;

  --main-white: rgb(241, 241, 241);

  --dark-grey: rgb(143, 143, 143);
  --main-grey: rgb(179, 179, 179);
  --light-grey: rgb(250, 250, 250);

  --xs: 0.9em;
  --sm: 1.08em;
  --md: 1.24em;
  --lg: 1.6em;
  --xl: 2.1em;

  --main-orange: rgb(241, 131, 65);

  --time-instant: 125ms;
  --time-quick: 200ms;
  --time-regular: 325ms;
  --time-slow: 500ms;
  --time-very-slow: 1000ms;

  --body-height: 666px;
}

body {
  background-color: var(--light);
  font-family: 'Lato', sans-serif;
}

.bg-dark {
  background-color: var(--main-black) !important;
}

.bg-dark-neutral {
  background-color: var(--light-black) !important;
}

.bg-dark-grey {
  background-color: var(--main-grey) !important;
}

.bg-gray {
  background-color: var(--main-grey) !important;
}

.bg-light-grey {
  background-color: var(--light-grey) !important;
}

.bg-orange{
  background-color: var(--main-orange) ;
}



.text-orange{
  color: var(--main-orange);
}

.text-gray{
  color: var(--gray);
}

.text-gray-dark{
  color: var(--gray-dark);
}


.text-xs{
  font-size: var(--xs);
}

.text-sm{
  font-size: var(--sm);
}

.text-md{
  font-size: var(--md);
}

.text-lg{
  font-size: var(--lg);
}

.text-xl{
  font-size: var(--xl);
}



.border-light {
  border-color: var(--main-white) !important;
}

.border-grey {
  border-color: var(--main-grey) !important;
}

.border-dark {
  border-color: var(--main-black) !important;
}



.transition-instant {
  transition-duration: var(--time-instant);
}

.transition-regular {
  transition-duration: var(--time-regular);
}

.transition-quick {
  transition-duration: var(--time-quick);
}

.transition-slow {
  transition-duration: var(--time-slow);
}

.transition-very-slow {
  transition-duration: var(--time-very-slow);
}



.border-sm {
  border-width: 0.12em !important;
}

.border-md {
  border-width: 0.18em !important;
}

.border-lg {
  border-width: 0.22em !important;
}


.opacity-90{
  opacity: 0.9;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.align-y-center {
  margin-top: 50%;
}

.fit-content {
  width: fit-content;
  height: fit-content;
}
