/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.main-color {
  background-color: #000000;
}

#recipe-search-bar {
  background-color: #000000;
}

.align-y-center {
  margin-top: 50%;
}

.border-light {
  border-color: #e9e9e9;
}

.border-md {
  border-width: 0.18em !important;
}

.border-lg {
  border-width: 0.24em !important;
}

.bg-dark {
  background-color: #262626 !important;
}

.bg-dark-neutral {
  background-color: #303030 !important;
}

.border-light {
  border-color: rgb(241, 241, 241) !important;
}

.border-grey {
  border-color: rgb(179, 179, 179) !important;
}

.border-dark {
  border-color: #262626 !important;
}
