<form #formElement="ngForm" (ngSubmit)="searchRecipe()" [class.border-grey]="mouseIn"
      class="border border-light border-lg rounded-pill bg-light py-1 transition-quick">
  <button [disabled]="formElement.invalid" class="btn btn-sm" style="width: 6%" type="submit">
    <fa name="search"></fa>
  </button>
  <input #loginElement="ngModel" [(ngModel)]="userSearch" class="border-0 bg-transparent align-middle"
         id="userSearch" minlength="3" name="userSearch"
         placeholder="Cookie, tarte, poulet, any, ..."
         required style="width: 94%" type="text">
</form>
