<form #formElement="ngForm" (ngSubmit)="searchRecipe()" class="pb-1 pl-1">
  <div class="row no-gutters">
    <div class="col-1 d-flex justify-content-end">
      <button [disabled]="formElement.invalid" class="btn btn-sm btn-light" type="submit">
        <fa name="search"></fa>
      </button>
    </div>
    <div class="col-11">
      <input #loginElement="ngModel" [(ngModel)]="userSearch" class="form-control form-control-sm" id="userSearch"
             minlength="3"
             name="userSearch" placeholder="Entrer une recette, un ingrédient, ..." required type="text">
    </div>
  </div>
</form>
