<form #formElement="ngForm" [routerLink]="'recipe-search/'+userSearch" class="pb-1 pl-1">
  <div class="row no-gutters">
    <div class="col-1 d-flex justify-content-end">
     <button [disabled]="formElement.invalid" class="btn btn-sm btn-light" type="submit">
      <fa name="search"></fa>
     </button>
    </div>
    <div class="col-11">
      <input type="text" id="userSearch" name="userSearch" placeholder="Entrer une recette, un ingrédient, ..." class="form-control form-control-sm"
             [(ngModel)]="userSearch" minlength="3" required #loginElement="ngModel">
    </div>
  </div>
</form>
